/*typo*/
@font-face {
	font-family: 'CaviarDreams';
	src: url('CaviarDreams.ttf')
}

* {
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	padding: 0;
}

section{
	width: 70%;

}
.maintitle, h3 {
	font-family: 'CaviarDreams';
}

.clear {
	clear: both;
}

/* navigation - header */
#bloctete {
	display: flex;
	width: 100%;
	background-color: hsla(207, 11%, 31%, 0.7);
	height: 100px;
	color: #FFF;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	margin: 0;
}
 
 .head {
 	 float: left;
 	 border-style: none;
 	 padding: 5px 10px;
 	 list-style-type: none;
 	 /*display: inline-block;*/
 	 margin-right: 5px;
 	 margin-left: 5px;
 }
 .head:hover  {
 	border-style: solid;
 	color:#4BCAFF;
 	border-color: color:#4BCAFF;
 }
.header {
	right: 150px;
	margin-top: auto;
	margin-bottom: auto;
}
.titreh1 {
	border-style: none;
	width: 51px;
	float: left;
	right: 150px;
	margin-top: auto;
	margin-bottom: auto;
	font-size: 10px;
}
#photoheader {
	background-image: url('images/banner_bg.jpg');
	background-size: cover;
	height: 500px;
}
	
.maintitle {
	display: inline-block;
	padding: 6px 10px;
	/*text-align: center;*/
	background-color: hsla(207, 11%, 31%, 0.7);
	color: #FFF;
}

.titreprincipal {
	text-align: center;
}
.maintitle:nth-child(1){
	margin-top: 150px;
}

.lettree {
    color:#4BCAFF;
    margin: 0;
    padding: 0;
}
#section2 {
	background-color: #FFF;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

.menuportfolio {
	list-style-type: none;
	border-style: none;
	padding: 5px 10px;
	margin-right: 10px;
	margin-left: 10px;
	float: left;
}
.menuportfolio:hover {
	border-style: solid;
	padding: 2px 10px;
	color:#4BCAFF;
	border-color: #4BCAFF;
}

.conteneurimagesmilieu {
	;
}
.menuportfolio::after {
	content: "";
	display: block;
	clear: both;
}
#titreportfolio {
	display: inline-block;
	float: left;
}
#navporfolio {
	display: inline-block;
	float: right;
	
}
.titleporto {
	display: flex;
	width: 100%;
	height: 100px;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	color: #69747b;
}
.conteneurimagesmilieu {
	display: flex;
	
	/*flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;*/
	
}
.imagesmilieu img {
	width: 23%;
}