/*typo*/
@font-face {
	font-family: 'CaviarDreams';
	src: url('CaviarDreams.ttf')
}

* {
	font-family: 'Roboto', sans-serif;
}

.maintitle, h3 {
	font-family: 'CaviarDreams';
}
.video::after{
	content: "hey";
}