/*typo*/
@font-face {
	font-family: 'CaviarDreams';
	src: url('CaviarDreams.ttf');
	
}

* {
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	padding: 0;
}

section {
	width: 70%;

}
.maintitle, h3 {
	font-family: 'CaviarDreams';
	letter-spacing: 2px;
}

.clear {
	clear: both;
}

/* navigation - header */
#bloctete {
	display: flex;
	width: 100%;
	background-color: hsla(207, 11%, 31%, 0.7);
	height: 100px;
	color: #FFF;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	margin: 0;
}
 
 .head {
 	 float: left;
 	 border-style: none;
 	 padding: 5px 10px;
 	 list-style-type: none;
 	 /*display: inline-block;*/
 	 margin-right: 5px;
 	 margin-left: 5px;
 }
 .head:hover  {
 	border-style: solid;
 	color:#4BCAFF;
 	border-color: color:#4BCAFF;
 }
.header {
	right: 150px;
	margin-top: auto;
	margin-bottom: auto;
}
.titreh1 {
	border-style: none;
	width: 51px;
	float: left;
	right: 150px;
	margin-top: auto;
	margin-bottom: auto;
	font-size: 10px;
}
#photoheader {
	background-image: url('images/banner_bg.jpg');
	background-size: cover;
	height: 500px;
}
	
.maintitle {
	display: inline-block;
	padding: 6px 10px;
	/*text-align: center;*/
	background-color: hsla(207, 11%, 31%, 0.7);
	color: #FFF;
}

.titreprincipal {
	text-align: center;
}
.maintitle:nth-child(1){
	margin-top: 150px;
	margin-bottom: 5px;
}

.lettree {
    color:#4BCAFF;
    margin: 0;
    padding: 0;
}
#section2 {
	background-color: #FFF;
	height: 720px;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

.menuportfolio {
	list-style-type: none;
	border-style: none;
	padding: 5px 10px;
	margin-right: 10px;
	margin-left: 10px;
	float: left;
}
.menuportfolio:hover {
	border-style: solid;
	padding: 2px 10px;
	color:#4BCAFF;
	border-color: #4BCAFF;
}

.conteneurimagesmilieu {
	;
}
.menuportfolio::after {
	content: "";
	display: block;
	clear: both;
}
#titreportfolio {
	display: inline-block;
	float: left;
	font-family: 'CaviarDreams';
}
#navporfolio {
	display: inline-block;
	float: right;
	
}
.titleporto {
	display: flex;
	width: 100%;
	height: 100px;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	color: #69747b;
	margin-top: 40px;
}
.conteneurimagesmilieu {
	display: flex;
	
	/*flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;*/
	
}
.imagesmilieu img {
	width: 24%;
	padding: 3.5px 3.5px;
}
/* section 3*/

#section3back {
	background-color: #515f67;
	height: 310px;
	width: 100%;
	padding-top: 60px;
	padding-bottom: 60px;
}
.section3text {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.justdefautbloctext {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 40%;
}
.justdefault {
	display: flex;
	color: #FFF;
	flex-direction: row;
	justify-content: space-between;
}
.VISIT {
	color: #353f46;
	border-style: solid;
	border-color: #353f46;
	padding: 10px 30px;
	width: 50px;
	font-size: 12px;
}
.titrejustdef {
	text-align: left;
}
.justtext {
	font-size: 12px;
}
.element22 {

}
/*.soulignetitre {
	text-decoration: underline; 
}*/


#section5 {
	background-image: url('images/join_bg.jpg');
	background-size: cover;
	width: 100%;
	height: 450px;
	z-index: 1;
	color: #FFF;
}
#section5sec {
	margin-left: auto;
	margin-right: auto;
	z-index: 5;
}

.blocsection5 {
	width: 100%;
	height: 200px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	font-size: 12px;
}
.reseaux h3 {
	text-align: left;
	padding-top: 70px;
	margin-bottom: 25px;
	letter-spacing: 2px;
}
/*.logosreseaux img{
	display: inline-block;
	float: left;
}*/

.logosreseaux img {
	border-style: solid;
	padding: 10px 10px;
	margin-right: 10px;
	border-width: 0.5px;
}
.blocsection5 p{
	width: 45%;
	height: 20%;
}

