.lettree {
    color:#4BCAFF;

}
.nav{

  color:#475158;
  height: 20%;
  width: 0%;
  margin: 30%;
  display: inline-block;
}
    
.services{
    
    height:30%;
    padding: 33.3px;
    color:#4BCAFF;



}

.blocinstant
{
    float: right;
    height:30%;
    padding: 33.3px;
    color:#4BCAFF;
} 

#conteneur
{
    display: flex;
    flex-wrap:nowrap ;
    flex width:auto;
    
  
    justify-content: space-around;

    color: white;
    padding: 20%
    margin: 0%;
    font: 15px NaN;
 
    height: 200px
  

}
.conteneur{
    display: flex;
    
    font: color rgb(253, 254, 255);
    background-color:#4BCAFF;*
    margin: 0%;
    padding: 0%;
}