/*typo*/
@font-face {
	font-family: 'CaviarDreams';
	src: url('CaviarDreams.ttf')
}

* {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}

.maintitle, h3 {
	font-family: 'CaviarDreams';
}

.clear {
	clear: both;
}

/* navigation - header */
 .head {
 	 float: left;
 	 border-style: solid;
 	 padding: 5px 10px;
 }