/*typo*/
/*@font-face {
	font-family: 'CaviarDreams';
	src: url('CaviarDreams.ttf')
}

* {
	font-family: 'Roboto', sans-serif;
	margin: 5px;
	padding: 0;
}

.maintitle, h3 {
	font-family: 'CaviarDreams';
}

.clear {
	clear: both;
}*/

/* navigation - header */
/*#bloctete {
	width: 100%;
	background-color: hsla(207, 11%, 31%, 0.7);
	height: 150px;
	color: #FFF;
}
 
 .head {
 	 float: left;
 	 border-style: none;
 	 padding: 5px 10px;
 	 list-style-type: none;
 	 display: inline-block;
 	 margin-right: 5px;
 	 margin-left: 5px;
 }
 .head:hover  {
 	border-style: solid;
 	color:#4BCAFF;
 	border-color: color:#4BCAFF;
 }
.header {
	float: right;
	left: 150px;
	
}
.titreh1 {
	border-style: none;
	width: 51px;
	float: left;
	right: 150px;
	margin-top: auto;
	margin-bottom: auto;
}*/